@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');



:root{
    --bk:#2a3239;
   --bg: #363062;
    --light-bg:#435585;
   --semi-light:#818FB4;
   --s-light:#F5E8C7;
    --blue:#22092C;
    --light-blue:#22092C;
   --semi-blue:#0174BE;
    --s-blue:#FFC436;
   --sf-blue:#FFF0CE;
   --green:#17cf97;
   --bbg:#1b2430;

}


.experience{
    padding: 5% 30px;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.box-i{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    border:2px solid var(--semi-light);
    border-radius: 8px;
    background-color: var(--semi-light);
    width: 400px;
    height: 400px;
    text-align: center;
 
}
